.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
    justify-content: space-between;
}

.listItem{
    position: relative;
    z-index: 1;
}

.imgLogo{
    position: absolute;
    z-index: 1;
}